/elpa
/emacs-backup
/eln-cache
/elpaca
tramp
oauth2.*
*.plstore
.org-generic-*

.emacs.desktop
.emacs.desktop.lock

HANDOVER.md

lambda-emacs

*.eld
*.elc

*.local
*.local.*

/easysession
/elfeed
/history
/places
/recentf
/eaf
/transient
/var
/undo-fu-session
/projects
/dirvish
project-window-list

.\#*

.authinfo
.authinfo.gpg
authinfo
authinfo.gpg

*.secret.el
*.so

/url/cache
/eshell
/bookmarks
