/elpa
/emacs-backup
/eln-cache
/elpaca

*.eld

/history
/places
/recentf

/transient
/var
/undo-fu-session
/projects

.\#*

.authinfo
.authinfo.gpg
authinfo
authinfo.gpg

*.secret.el
*.so

/url/cache
/eshell
/bookmarks
