/elpa
/emacs-backup
/eln-cache
/elpaca
tramp
oauth2.*
*.plstore
.org-generic-*
.claude/settings.local.json
.org-id-locations
.mc-lists.el

.emacs.desktop
.emacs.desktop.lock
/auto-save
/auto-save-list

HANDOVER.md

lambda-emacs

*.eld
*.elc
__pycache__/
*.pyc

*.local
*.local.*

/easysession
/elfeed
/history
/places
/recentf
/eaf
/transient
/var
/undo-fu-session
/projects
/dirvish
/persist
/request
project-window-list

.\#*

.authinfo
.authinfo.gpg
authinfo
authinfo.gpg
oauth2-auto.plist

*.secret.el
*.so

/url/cache
/eshell
/bookmarks
